
<!doctype html>
<html lang="en">
<head>
	<title>Blacklist</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/UserM.css">
    {%  from "includes/_formhelper.html" import render_field %}
<style>
.login100-form-btn {margin-bottom:50px}
ul {
    list-style-type: none;
    margin: 0 0 0 100px;
    padding: 0;
    overflow: hidden;
    }

li {
    float: left;
	border-right: 1px solid #bbb
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 50px;
	text-decoration: none;
	background-color: #333;
}

li a:hover {
    background-color: #0099ff;
}
</style>
</head>
<body>
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#reportaproblem">Report a Problem</a></li>
    <li><a href="#account">Login/Register</a></li>
    <li><a href="#Excuse Pass">Proof for E-Excuse Pass for Train Breakdown</a>
</ul>
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
		<div class="container-login100">
			<div class="wrap-login100">

				<form class="login100-form" method="post">
					<span class="login100-form-title">
						Blacklist
					</span>

					<div class="wrap-input100">
						{{ render_field(form.id, class='input100') }}
					</div>

					<div class="wrap-input100">
						{{ render_field(form.reason, class='input100') }}
					</div>

					<div class="container-login100-form-btn">
						{{ form.submit (class = "login100-form-btn") }}
					</div>
				</form>
        <div class="login100-pic">
					<img src="/static/images/img-01.png">
				</div>
			</div>
		</div>
	</div>

</body>
</html>